# Ignore node_modules directory
node_modules

# Ignore build output directory
dist

# Ignore development files
*.ts
*.tsx

# Ignore editor and IDE files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore version control files
.git
.gitignore